<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-home"></i>团队导游记账</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-xs btn-primary btn-back-reply"><i
                            class="fa fa-reply"></i> 返回
                        </button>
                    </div>
                </div>
                <div class="ibox-content team_guide_warp">
                    
                    <!--    订单明细-->
                    <div class="ibox-content table-responsive">
                        <div class="row"><h1 class="text-center">团队导游报账单</h1></div>
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>抵达日期</th>
                                <th>全陪名称</th>
                                <th>线路行程</th>
                                <th>人数</th>
                                <th>办事处</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{$info.arrive_date}</td>
                                <td>{$info.escort_name}</td>
                                <td>{$info.line_name}</td>
                                <td>{$info.all_num}  ({$info.adult_num}.{$info.child_num})</td>
                                <td>{$info.agency_name}</td>
                            </tr>
                            <tr>
                                <th>选择导游报帐</th>
                                <td colspan="4" class="fly-form-select">
                                    <input type="hidden" name="guide_name" class="payable-guide-name" value="{$info.guide_name}">
                                    <select name="guide_id" class="form-control payable-guide-id">
                                        {notempty name='info.guide_list'}
                                        {volist name='$info.guide_list' id='vo'}
                                        <option value="{$vo['guide_id']}" data-id="{$vo['id']}" data-guide-name="{$vo['guide_name']}" data-fee="{$vo['guide_fee']}" {if condition="$info['guide_id'] eq $vo['guide_id']"} selected="selected" {/if} >
                                            {$vo['guide_name']}
                                        </option>
                                        {/volist}
                                        {/notempty}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>司机</th>
                                <td colspan="4">
                                    {volist name='$info.driver_list' id='vo'}
                                        ( {$vo.driver_name} {$vo.driver_fee} )
                                    {/volist}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    
                    </div>
                    <!--金额统计-->
                    <div class="ibox-content table-responsive tm_guide_summary" data-url="{:url('TmGuide/edit', array('order_id' => $info['id']))}">
                        
                        <div class="ibox-title  total_money ">报价总金额：<label>0.00</label></div>
                        
                        <table class="table table-bordered text-center ">
                            <thead>
                            <tr>
                                <th class="text-center ">导服费</th>
                                <th class="text-center ">预付团费</th>
                                <th class="text-center ">代付车费</th>
                                <th class="text-center ">代付餐费</th>
                                <th class="text-center ">景点票款</th>
                                <th class="text-center ">交社金额</th>
                                <th class="text-center ">其它代付</th>
                                <th class="text-center ">其它代收</th>
                                <th class="text-center ">购物店</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="guide_money" data-url="{:url('TmGuide/info', array('order_id' => $info['id']))}">
                                    <a class="ajax-open-tm-guide"  data-url="{:url('TmGuide/editFee', array('order_id' => $info['id']))}" data-calback="ajaxTmGuideMoneyData($('.guide_money'))"><label>{$info.guide_fee}</label></a>
                                </td>
                                <td class="guide_advance"><label>{$info.guide_advance}</label></td>
                                <td class="guide_fare"><label>0</label></td>
                                <td class="guide_food"><label>0</label></td>
                                <td class="guide_scenic"><label>0</label></td>
                                <td class="guide_travel"><label>0</label></td>
                                <td class="guide_paid"><label>0</label></td>
                                <td class="guide_coll"><label>0</label></td>
                                <td class="guide_head"><label>0</label></td>
                            </tr>
                            </tbody>
                        </table>
                        <div> <small>报帐单=导服费+代付车费+代付餐费+代付景点门票+代付其它-交社金额-代收款-预付团费</small></div>
                    </div>
                    
                    <!--    代付车费-->
                    <div class="ibox-content table-responsive tm_guide_fare" data-url="{:url('TmGuideFare/show_json', array('order_id' => $info['id']))}">
                        <div class="ibox-title">
                            <button data-url="{:url('TmGuideFare/add', array('id' => $info['id']))}" class=" btn btn-xs btn-info ajax-open-tm" data-calback="ajaxTmGuideFareData($('.tm_guide_fare'))">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                            导游代付车费：￥:<label>0.00</label>
                        </div>
                        <table class="table table-bordered table-hover show_list_data">
                            <thead>
                            <tr>
                                <th width="100">代付人</th>
                                <th width="100">收钱人</th>
                                <th width="100">代付金额</th>
                                <th>备注</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody> <!-- 列表加载区域--></tbody>
                        </table>
                    </div>
    
                    <!--  代付餐费-->
                    <div class="ibox-content table-responsive tm_guide_food" data-url="{:url('TmGuideFood/show_json', array('order_id' => $info['id']))}">
                        <div class="ibox-title">
                            <button data-url="{:url('TmGuideFood/add', array('id' => $info['id']))}" class=" btn btn-xs btn-info ajax-open-tm" data-calback="ajaxTmGuideFoodData($('.tm_guide_food'))">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                            代付餐费：￥:<label>0.00</label>
                        </div>
                        <table class="table table-bordered table-hover  show_list_data">
                            <thead>
                            <tr>
                                <th width="100">餐厅</th>
                                <th width="100">成人数</th>
                                <th width="100">成人餐费￥</th>
                                <th width="100">儿童数</th>
                                <th width="100">儿童餐费￥</th>
                                <th width="100">合计￥</th>
                                <th >备注</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody> <!-- 列表加载区域--></tbody>
                        </table>
                    </div>

                    <!--  代付景点费-->
                    <div class="ibox-content table-responsive tm_guide_scenic" data-url="{:url('TmGuideScenic/show_json', array('order_id' => $info['id']))}">
                        <div class="ibox-title">
                            <button data-url="{:url('TmGuideScenic/add', array('id' => $info['id']))}" class=" btn btn-xs btn-info ajax-open-tm" data-calback="ajaxTmGuideScenicData($('.tm_guide_scenic'))">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                            景点门票费：￥:<label>0.00</label>
                        </div>
                        <table class="table table-bordered table-hover show_list_data">
                            <thead>
                            <tr>
                                <th width="100">景点</th>
                                <th width="100">老人数</th>
                                <th width="100">老人餐费￥</th>
                                <th width="100">成人数</th>
                                <th width="100">成人餐费￥</th>
                                <th width="100">儿童数</th>
                                <th width="100">儿童餐费￥</th>
                                <th width="100">合计￥</th>
                                <th >备注</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody> <!-- 列表加载区域--></tbody>
                        </table>
                    </div>
    
                    <!--  购物店人头费-->
                    <div class="ibox-content table-responsive tm_guide_head" data-url="{:url('TmGuideHead/show_json', array('order_id' => $info['id']))}">
                        <div class="ibox-title">
                            <button data-url="{:url('TmGuideHead/add', array('order_id' => $info['id']))}" class=" btn btn-xs btn-info ajax-open-tm" data-calback="ajaxTmGuideHeadData($('.tm_guide_head'))">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                            购物店：￥:<label>0.00</label>
                        </div>
                        <table class="table table-bordered table-hover show_list_data">
                            <thead>
                            <tr>
                                <th width="100">店铺</th>
                                <th width="100">人头费</th>
                                <th width="100">进店人数</th>
                                <th width="100">补人头数</th>
                                <th width="100">补人头费￥</th>
                                <th width="100">正价流水￥</th>
                                <th width="100">正价回扣￥</th>
                                <th width="100">特价流水￥</th>
                                <th width="100">特价回扣￥</th>
                                <th width="100">总流水￥</th>
                                <th width="100">回扣金额￥</th>
                                <th width="100">导游现提金额￥</th>
                                <th width="100">导游分成￥</th>
                                <th width="100">返社金额￥</th>
                                <th width="100">备注</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody> <!-- 列表加载区域--></tbody>
                        </table>
                    </div>
    
                    <!--  交社费用-->
                    <div class="ibox-content table-responsive tm_guide_travel" data-url="{:url('TmGuideTravel/show_json', array('order_id' => $info['id']))}">
                        <div class="ibox-title">
                            <button data-url="{:url('TmGuideTravel/add', array('id' => $info['id']))}" class=" btn btn-xs btn-info ajax-open-tm" data-calback="ajaxTmGuideTravelData($('.tm_guide_travel'))">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                            交社费用：￥:<label>0.00</label>
                        </div>
                        <table class="table table-bordered table-hover  show_list_data">
                            <thead>
                            <tr>
                                <th width="100">选项</th>
                                <th width="100">人头费</th>
                                <th width="100">人数</th>
                                <th width="100">合计</th>
                                <th >备注</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody> <!-- 列表加载区域--></tbody>
                        </table>
                    </div>

                    <!--  签单费用-->
                    <div class="ibox-content table-responsive tm_guide_sginbill" data-url="{:url('TmOrderSignbill/show_json', array('order_id' => $info['id']))}">
                        <div class="ibox-title">
                            <button data-url="{:url('TmOrderSignbill/add', array('order_id' => $info['id']))}" class=" btn btn-xs btn-info ajax-open-tm" data-calback="ajaxTmOrderSignbillData($('.tm_guide_sginbill'))">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                            签单费用：￥:<label>0.00</label>
                        </div>
                        <table class="table table-bordered table-hover  show_list_data">
                            <thead>
                            <tr>
                                <th width="100">签单时间</th>
                                <th width="100">签单号</th>
                                <th width="100">餐厅名称</th>
                                <th width="100">成人数</th>
                                <th width="100">成人价格</th>
                                <th width="100">儿童数</th>
                                <th width="100">儿童价格</th>
                                <th width="100">司陪数</th>
                                <th width="100">标准</th>
                                <th width="100">折扣</th>
                                <th width="100">总金额</th>
                                <th width="100">备注</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody> <!-- 列表加载区域--></tbody>
                        </table>
                    </div>



                    <!--  回执单费用-->
                    <div class="ibox-content table-responsive tm_guide_receipt" data-url="{:url('TmGuideReceipt/show_json', array('order_id' => $info['id']))}">
                        <div class="ibox-title">
                            <button data-url="{:url('TmGuideReceipt/add', array('id' => $info['id']))}" class=" btn btn-xs btn-info ajax-open-tm" data-calback="ajaxTmGuideReceiptData($('.tm_guide_receipt'))">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                            回执单费用：￥:<label>0.00</label>
                        </div>
                        <table class="table table-bordered table-hover  show_list_data">
                            <thead>
                            <tr>
                                <th width="100">回执单项</th>
                                <th width="100">成人数</th>
                                <th width="100">成人餐费￥</th>
                                <th width="100">儿童数</th>
                                <th width="100">儿童餐费￥</th>
                                <th width="100">合计￥</th>
                                <th >备注</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody> <!-- 列表加载区域--></tbody>
                        </table>
                    </div>
    
                    <!--  其它代付费用-->
                    <div class="ibox-content table-responsive tm_guide_paid" data-url="{:url('TmGuidePaid/show_json', array('order_id' => $info['id']))}">
                        <div class="ibox-title">
                            <button data-url="{:url('TmGuidePaid/add', array('id' => $info['id']))}" class=" btn btn-xs btn-info ajax-open-tm" data-calback="ajaxTmGuidePaidData($('.tm_guide_paid'))">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                            其它代付费用：￥:<label>0.00</label>
                        </div>
                        <table class="table table-bordered table-hover show_list_data">
                            <thead>
                            <tr>
                                <th width="100">项目</th>
                                <th width="100">金额￥</th>
                                <th >备注</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody> <!-- 列表加载区域--></tbody>
                        </table>
                    </div>
    
                    <!--  其它代收费用-->
                    <div class="ibox-content table-responsive tm_guide_coll" data-url="{:url('TmGuideColl/show_json', array('order_id' => $info['id']))}">
                        <div class="ibox-title">
                            <button data-url="{:url('TmGuideColl/add', array('id' => $info['id']))}" class=" btn btn-xs btn-info ajax-open-tm" data-calback="ajaxTmGuideCollData($('.tm_guide_coll'))">
                                <i class="fa fa-plus"></i> 添加
                            </button>
                            其它代收费用：￥:<label>0.00</label>
                        </div>
                        <table class="table table-bordered table-hover  show_list_data">
                            <thead>
                            <tr>
                                <th width="100">项目</th>
                                <th width="100">金额￥</th>
                                <th >备注</th>
                                <th width="100">操作</th>
                            </tr>
                            </thead>
                            <tbody> <!-- 列表加载区域--></tbody>
                        </table>
                    </div>
                    
                
                </div><!--  tm_team_guide_warp end -->
            </div>
        </div>
    </div>
</div>
{include file="comm/tm_guide_add_fun"/}