<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('SkTeamStore/add')}">
        <input type="hidden" name="order_id" value="{$order_id}">
        <div class="form-group">
            <label class="col-sm-2 control-label">店铺</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input name="store_id" class="form-control" type="hidden"/>
                    <input type="text" class="form-control ajax-search-select-store"
                        data-url="{:url('Store/show_json')}" name="store_name" placeholder="请输入关键字选择用餐标准">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        </ul>
                    </div>
                </div>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">人头费</label>
            <div class="col-sm-8">
                <input name="price" class="form-control calculate" type="text" placeholder="请输入人头费" value="0" readonly/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">进店人数</label>
            <div class="col-sm-8">
                <input name="into_num" class="form-control calculate" type="text" placeholder="请输入进店人数" value="0"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">补人头数</label>
            <div class="col-sm-8">
                <input name="fill_num" class="form-control calculate" type="text" placeholder="请输入补人头数" value="0"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">补人头费</label>
            <div class="col-sm-8">
                <input name="total_price" class="form-control calculate" type="text" placeholder="请输入补人头费" value="0" readonly/>
                <span class="help-block m-b-none">补人头费=补人头数*人头费</span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">流水</label>
            <div class="col-sm-8">
                <input name="flow_money" class="form-control calculate" type="text" placeholder="请输入流水" value="0"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">回扣点</label>
            <div class="col-sm-8">
                <input name="rebate" class="form-control calculate" type="text" placeholder="请输入流水回扣点" value="0"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">回扣金额</label>
            <div class="col-sm-8">
                <input name="rebate_money" class="form-control calculate" type="text" placeholder="请输入流水回扣点" value="0"/>
                <span class="help-block m-b-none">回扣金额=流水*回扣点</span></div>
        </div>
    
        <div class="form-group">
            <label class="col-sm-2 control-label">合计金额</label>
            <div class="col-sm-8">
                <input name="total_money" class="form-control" type="text" placeholder="请输入合计金额" value="0"/>
                <span class="help-block m-b-none">合计金额=补人头费+回扣金额</span></div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control" cols="80" placeholder="请输入备注"></textarea>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>
<script>
    $("body").on("keyup", ".calculate", function() {
        var obj=$(this).parents("form");
        //自动计算总价格
        calc_order_shop_money(obj);

    });
</script>