<body class="gray-bg">
<div class="ibox-content table-responsive">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="{:url('SkOrderDriver/edit')}">
            <input type="hidden" name="id" value="{$info.id}">
            <div class="form-group">
                <label class="col-sm-2 control-label">车费</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control " name="driver_fee"  placeholder="车费" value="{$info.driver_fee|default='0'}">
                    <span class="help-block m-b-none"></span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control" cols="80" placeholder="请输入备注">{$info.remark}</textarea>
                    <span class="help-block m-b-none"></span></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    {include file="admin@layout/save_btn"}
                </div>
            </div>
        </form>
    </div>
</div>

