<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="phpStudy2018_FastCGI" />
            <add name="phpStudy2018_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\phpStudy\PHPTutorial\php\php-7.0.12-nts\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
