<body class="gray-bg">
<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('ItemTravel/add')}">
        <div class="form-group">
            <label class="col-sm-2 control-label">交社选项名称</label>
            <div class="col-sm-8">
                <input name="name" class="form-control" type="text" placeholder="请输入交社选项名称" required/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">人头费（元）</label>
            <div class="col-sm-8">
                <input name="price" class="form-control" type="text" placeholder="请输入人头费（元）" required/>
                <span class="help-block m-b-none"></span></div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-8">
                <input name="sort" class="form-control" type="text" placeholder="请输排序" value="100"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control" cols="80" rows="2" placeholder="请输备注"></textarea>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>