<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">

            <div class="ibox-content">
                <ul class="nav nav-tabs m-b-lg">
                    <li><h3>系统配置</h3></li>
                    {volist name='group_list' id='vo'}
                    <li {noempty name="key"} {if condition="$key eq $groupid " }  class="active" {/if} {/noempty}><a href="{:url('website/setting',array('groupid'=>$key))}" >{$vo}</a></li>
                    {/volist}
                </ul>
                <form class="form-horizontal" method="post" action="{:url('Website/setting')}">
                   {$html}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            {include file="admin@layout/save_btn"}
                        </div>
                    </div>
                </form>
            </div>


    </div>
</div>
</body>