<script>
    //团队=》导游=》记账
    $(document).ready(function () {
        
        ajaxInitGuideData();
        
        $('.payable-guide-id').change(function () {
            id=$(this).find("option:selected").attr('data-id');
            guide_name=$(this).find("option:selected").attr('data-guide-name');
            $(".payable-guide-name").val(guide_name);
            ajaxInitGuideData();
        });
        //ajax打开,针对团队修改导服报账
        $("body").on("click", ".ajax-open-tm-guide", function () {

            if ((target = $(this).attr('href')) || (target = $(this).attr('url')) || (target = $(this).attr('data-url'))) {

                var tit = $(this).attr('data-title');//打开标题
                
                var fun =$(this).attr('data-calback');//判断是否有回调函数

                guide_id=$(".payable-guide-id").val();
                order_guide_id=$(".payable-guide-id").find("option:selected").attr('data-id');
                if(guide_id==null){
                    layer.msg('请选择导游', {icon: 5});
                    return  false;
                }
                var target=target+"?guide_id="+guide_id+'&order_guide_id='+order_guide_id;
                log(target);

                layer.open({
                    type: 2,
                    title: tit,
                    shadeClose: true,
                    fixed: false, //不固定
                    area: ['90%', '90%'],
                    content: target,
                    end: function () {
                        if(fun!=null){
                            eval(fun);
                        }else{
                            turnPage(1);
                        }
                    }
                });
            }
            return false;
        });
        
        
    })

    //加载报帐清单
    function ajaxInitGuideData(){
        $('.tm_guide_fare').each(function(){
            ajaxTmGuideFareData($(this));
        });

        $('.tm_guide_food').each(function(){
            ajaxTmGuideFoodData($(this));
        });

        $('.tm_guide_scenic').each(function(){
            ajaxTmGuideScenicData($(this));
        });

        $('.tm_guide_head').each(function(){
            ajaxTmGuideHeadData($(this));
        });

        $('.tm_guide_travel').each(function(){
            ajaxTmGuideTravelData($(this));
        });

        $('.tm_guide_receipt').each(function(){
            ajaxTmGuideReceiptData($(this));
        });

        $('.tm_guide_paid').each(function(){
            ajaxTmGuidePaidData($(this));
        });

        $('.tm_guide_coll').each(function(){
            ajaxTmGuideCollData($(this));
        });
        $('.tm_guide_sginbill').each(function(){
            ajaxTmOrderSignbillData($(this));
        });

        $('.guide_money').each(function(){
            ajaxTmGuideMoneyData($(this));
        });
        
    }
    
    //统计面板数据处理
    function ajaxUpdateTotalMoney(){
        
        summary=$('.tm_guide_summary');
        
        fare=$('.tm_guide_fare').find(".ibox-title label").html();
        food=$('.tm_guide_food').find(".ibox-title label").html();
        scenic=$('.tm_guide_scenic').find(".ibox-title label").html();
        head=$('.tm_guide_head').find(".ibox-title label").html();
        travel=$('.tm_guide_travel').find(".ibox-title label").html();
        receipt=$('.tm_guide_receipt').find(".ibox-title label").html();
        paid=$('.tm_guide_paid').find(".ibox-title label").html();
        coll=$('.tm_guide_coll').find(".ibox-title label").html();
        
        summary.find(".guide_fare label").html(parseFloat(fare).toFixed(2));
        summary.find(".guide_food label").html(parseFloat(food).toFixed(2));
        summary.find(".guide_scenic label").html(parseFloat(scenic).toFixed(2));
        summary.find(".guide_head label").html(parseFloat(-head).toFixed(2));
        summary.find(".guide_travel label").html(parseFloat(-travel).toFixed(2));
        summary.find(".guide_receipt label").html(parseFloat(receipt).toFixed(2));
        summary.find(".guide_paid label").html(parseFloat(paid).toFixed(2));
        summary.find(".guide_coll label").html(parseFloat(-coll).toFixed(2));

        guideMoney=summary.find(".guide_money label").html();//导服费
        guideAdvance=summary.find(".guide_advance label").html();//导服费
        //log(parseFloat(guideMoney));
        
        //报帐单=导服费+代付车费+代付餐费+代付景点门票+代付其它-交社金额-代收款-购物店
        total_money=parseFloat(guideMoney)+parseFloat(fare)+parseFloat(food)+parseFloat(scenic)+parseFloat(paid)-parseFloat(travel)-parseFloat(coll)-parseFloat(guideAdvance)-parseFloat(head);
        
        summary.find(".total_money label").html(total_money);//导服费

        sumUrl = summary.attr('data-url');
        id=$(".payable-guide-id").find("option:selected").attr('data-id');

        $.ajax({
            type: "POST",
            url: sumUrl,
            data:{"guide_payable":total_money,"id":id},
            dataType:"json",
            success: function(data){
                log(data);
            }
        });
        log(total_money);
        
        
    }

    //加载导服费
    function  ajaxTmGuideMoneyData(object){
        target=object.attr("data-url");
        id=$(".payable-guide-id").find("option:selected").attr('data-id');
        target=target+"?id="+id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            
            object.find("a label").html(jsonData.guide_fee);//得到当前导游的费用

            ajaxUpdateTotalMoney();

        },"json");
    }
    
    //加载代付车费
    function  ajaxTmGuideFareData(object){
        target=object.attr("data-url");
        guide_id=$(".payable-guide-id").val();
        target=target+"?guide_id="+guide_id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            $.each(jsonData.data,function(key,row){
                html +='<tr>';
                html +='<td>'+row.guide_name+'</td>';
                html +='<td>'+row.driver_name+'</td>';
                html +='<td>'+row.money+'</td>';
                html +='<td>'+row.remark+'</td>';
                html +='<td>';
                html +='    <lqf_link><a class="ajax-open" data-url="{:url(\'TmGuideFare/edit\')}"  data-ids="{\'id\':\''+row.id+'\'}" data-title="修改" data-calback="ajaxTmGuideFareData($(\'.tm_guide_fare\'))">修改</a></lqf_link>';
                html +='    <lqf_link><a class="ajax-del" data-url="{:url(\'TmGuideFare/del\')}"  data-ids="{\'id\':\''+row.id+'\'}"  data-calback="ajaxTmGuideFareData($(\'.tm_guide_fare\'))">删除</a></lqf_link>';
                html +='</td>';
                html +='</tr>';
            })
            object.find(".show_list_data tbody").html(html);
            object.find(".ibox-title label").html(jsonData.total_money);

            ajaxUpdateTotalMoney();
            
        },"json");
    }

    //加载代付餐费
    function  ajaxTmGuideFoodData(object){
        target=object.attr("data-url");
        guide_id=$(".payable-guide-id").val();
        target=target+"?guide_id="+guide_id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            $.each(jsonData.data,function(key,row){
                html +='<tr>';
                html +='<td>'+row.restaurant_name+'</td>';
                html +='<td>'+row.adult_num+'</td>';
                html +='<td>'+row.adult_price+'</td>';
                html +='<td>'+row.child_num+'</td>';
                html +='<td>'+row.child_price+'</td>';
                html +='<td>'+row.total_price+'</td>';
                html +='<td>'+row.remark+'</td>';
                html +='<td>';
                html +='    <lqf_link><a class="ajax-open" data-url="{:url(\'TmGuideFood/edit\')}"  data-ids="{\'id\':\''+row.id+'\'}" data-title="修改" data-calback="ajaxTmGuideFoodData($(\'.tm_guide_food\'))">修改</a></lqf_link>';
                html +='    <lqf_link><a class="ajax-del" data-url="{:url(\'TmGuideFood/del\')}"  data-ids="{\'id\':\''+row.id+'\'}"  data-calback="ajaxTmGuideFoodData($(\'.tm_guide_food\'))">删除</a></lqf_link>';
                html +='</td>';
                html +='</tr>';
            })
            object.find(".show_list_data tbody").html(html);
            object.find(".ibox-title label").html(jsonData.total_money);

            ajaxUpdateTotalMoney();

        },"json");
    }

    //加载代付景点门票
    function  ajaxTmGuideScenicData(object){
        target=object.attr("data-url");
        guide_id=$(".payable-guide-id").val();
        target=target+"?guide_id="+guide_id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            $.each(jsonData.data,function(key,row){
                html +='<tr>';
                html +='<td>'+row.scenic_name+'</td>';
                html +='<td>'+row.aged_num+'</td>';
                html +='<td>'+row.aged_price+'</td>';
                html +='<td>'+row.adult_num+'</td>';
                html +='<td>'+row.adult_price+'</td>';
                html +='<td>'+row.child_num+'</td>';
                html +='<td>'+row.child_price+'</td>';
                html +='<td>'+row.total_price+'</td>';
                html +='<td>'+row.remark+'</td>';
                html +='<td>';
                html +='    <lqf_link><a class="ajax-open" data-url="{:url(\'TmGuideScenic/edit\')}"  data-ids="{\'id\':\''+row.id+'\'}" data-title="修改" data-calback="ajaxTmGuideScenicData($(\'.tm_guide_scenic\'))">修改</a></lqf_link>';
                html +='    <lqf_link><a class="ajax-del" data-url="{:url(\'TmGuideScenic/del\')}"  data-ids="{\'id\':\''+row.id+'\'}"  data-calback="ajaxTmGuideScenicData($(\'.tm_guide_scenic\'))">删除</a></lqf_link>';
                html +='</td>';
                html +='</tr>';
            })
            object.find(".show_list_data tbody").html(html);
            object.find(".ibox-title label").html(jsonData.total_money);

            ajaxUpdateTotalMoney();

        },"json");
    }

    //加载补人头费
    function  ajaxTmGuideHeadData(object){
        target=object.attr("data-url");
        guide_id=$(".payable-guide-id").val();
        target=target+"?guide_id="+guide_id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            $.each(jsonData.data,function(key,row){
                html +='<tr>';
                html +='<td>'+row.store_name+'</td>';
                html +='<td>'+row.price+'</td>';
                html +='<td>'+row.into_num+'</td>';
                html +='<td>'+row.fill_num+'</td>';
                html +='<td>'+row.total_price+'</td>';
                html +='<td>'+row.normal_money+'</td>';
                html +='<td>'+row.normal_rebate+'</td>';
                html +='<td>'+row.special_money+'</td>';
                html +='<td>'+row.special_rebate+'</td>';
                html +='<td>'+row.flow_money+'</td>';
                html +='<td>'+row.rebate_money+'</td>';
                html +='<td>'+row.guide_already_money+'</td>';
                html +='<td>'+row.guide_divide_money+'</td>';
                html +='<td>'+row.total_money+'</td>';
                html +='<td>'+row.remark+'</td>';
                html +='<td>';
                html +='    <lqf_link><a class="ajax-open" data-url="{:url(\'TmGuideHead/edit\')}"  data-ids="{\'id\':\''+row.id+'\'}" data-title="修改" data-calback="ajaxTmGuideHeadData($(\'.tm_guide_head\'))">修改</a></lqf_link>';
                html +='    <lqf_link><a class="ajax-del" data-url="{:url(\'TmGuideHead/del\')}"  data-ids="{\'id\':\''+row.id+'\'}"  data-calback="ajaxTmGuideHeadData($(\'.tm_guide_head\'))">删除</a></lqf_link>';
                html +='</td>';
                html +='</tr>';
            })
            object.find(".show_list_data tbody").html(html);
            object.find(".ibox-title label").html(jsonData.total_money);

            ajaxUpdateTotalMoney();

        },"json");
    }

    //加载交社金额费
    function  ajaxTmGuideTravelData(object){
        target=object.attr("data-url");
        guide_id=$(".payable-guide-id").val();
        target=target+"?guide_id="+guide_id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            $.each(jsonData.data,function(key,row){
                html +='<tr>';
                html +='<td>'+row.item_travel_name+'</td>';
                html +='<td>'+row.price+'</td>';
                html +='<td>'+row.number+'</td>';
                html +='<td>'+row.total_price+'</td>';
                html +='<td>'+row.remark+'</td>';
                html +='<td>';
                html +='    <lqf_link><a class="ajax-open" data-url="{:url(\'TmGuideTravel/edit\')}"  data-ids="{\'id\':\''+row.id+'\'}" data-title="修改" data-calback="ajaxTmGuideTravelData($(\'.tm_guide_travel\'))">修改</a></lqf_link>';
                html +='    <lqf_link><a class="ajax-del" data-url="{:url(\'TmGuideTravel/del\')}"  data-ids="{\'id\':\''+row.id+'\'}"  data-calback="ajaxTmGuideTravelData($(\'.tm_guide_travel\'))">删除</a></lqf_link>';
                html +='</td>';
                html +='</tr>';
            })
            object.find(".show_list_data tbody").html(html);
            object.find(".ibox-title label").html(jsonData.total_money);

            ajaxUpdateTotalMoney();

        },"json");
    }

    //加载回执单
    function  ajaxTmGuideReceiptData(object){
        target=object.attr("data-url");
        guide_id=$(".payable-guide-id").val();
        target=target+"?guide_id="+guide_id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            $.each(jsonData.data,function(key,row){
                html +='<tr>';
                html +='<td>'+row.item_receipt_name+'</td>';
                html +='<td>'+row.adult_num+'</td>';
                html +='<td>'+row.adult_price+'</td>';
                html +='<td>'+row.child_num+'</td>';
                html +='<td>'+row.child_price+'</td>';
                html +='<td>'+row.total_price+'</td>';
                html +='<td>'+row.remark+'</td>';
                html +='<td>';
                html +='    <lqf_link><a class="ajax-open" data-url="{:url(\'TmGuideReceipt/edit\')}"  data-ids="{\'id\':\''+row.id+'\'}" data-title="修改" data-calback="ajaxTmGuideReceiptData($(\'.tm_guide_receipt\'))">修改</a></lqf_link>';
                html +='    <lqf_link><a class="ajax-del" data-url="{:url(\'TmGuideReceipt/del\')}"  data-ids="{\'id\':\''+row.id+'\'}"  data-calback="ajaxTmGuideReceiptData($(\'.tm_guide_receipt\'))">删除</a></lqf_link>';
                html +='</td>';
                html +='</tr>';
            })
            object.find(".show_list_data tbody").html(html);
            object.find(".ibox-title label").html(jsonData.total_money);

            ajaxUpdateTotalMoney();

        },"json");
    }

    //加载代付其它费用
    function  ajaxTmGuidePaidData(object){
        target=object.attr("data-url");
        guide_id=$(".payable-guide-id").val();
        target=target+"?guide_id="+guide_id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            $.each(jsonData.data,function(key,row){
                html +='<tr>';
                html +='<td>'+row.item_name+'</td>';
                html +='<td>'+row.money+'</td>';
                html +='<td>'+row.remark+'</td>';
                html +='<td>';
                html +='    <lqf_link><a class="ajax-open" data-url="{:url(\'TmGuidePaid/edit\')}"  data-ids="{\'id\':\''+row.id+'\'}" data-title="修改" data-calback="ajaxTmGuidePaidData($(\'.tm_guide_paid\'))">修改</a></lqf_link>';
                html +='    <lqf_link><a class="ajax-del" data-url="{:url(\'TmGuidePaid/del\')}"  data-ids="{\'id\':\''+row.id+'\'}"  data-calback="ajaxTmGuidePaidData($(\'.tm_guide_paid\'))">删除</a></lqf_link>';
                html +='</td>';
                html +='</tr>';
            })
            object.find(".show_list_data tbody").html(html);
            object.find(".ibox-title label").html(jsonData.total_money);

            ajaxUpdateTotalMoney();

        },"json");
    }

    //加载代收其它费用
    function  ajaxTmGuideCollData(object){
        target=object.attr("data-url");
        guide_id=$(".payable-guide-id").val();
        target=target+"?guide_id="+guide_id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            $.each(jsonData.data,function(key,row){
                html +='<tr>';
                html +='<td>'+row.item_name+'</td>';
                html +='<td>'+row.money+'</td>';
                html +='<td>'+row.remark+'</td>';
                html +='<td>';
                html +='    <lqf_link><a class="ajax-open" data-url="{:url(\'TmGuideColl/edit\')}"  data-ids="{\'id\':\''+row.id+'\'}" data-title="修改" data-calback="ajaxTmGuideCollData($(\'.tm_guide_coll\'))">修改</a></lqf_link>';
                html +='    <lqf_link><a class="ajax-del" data-url="{:url(\'TmGuideColl/del\')}"  data-ids="{\'id\':\''+row.id+'\'}"  data-calback="ajaxTmGuideCollData($(\'.tm_guide_coll\'))">删除</a></lqf_link>';
                html +='</td>';
                html +='</tr>';
            })
            object.find(".show_list_data tbody").html(html);
            object.find(".ibox-title label").html(jsonData.total_money);

            ajaxUpdateTotalMoney();

        },"json");
    }

    //加载签单费用
    function  ajaxTmOrderSignbillData(object){
        target=object.attr("data-url");
        guide_id=$(".payable-guide-id").val();
        target=target+"?guide_id="+guide_id;
        log(target);
        var html="";
        $.get(target).success(function (jsonData) {
            $.each(jsonData.data,function(key,row){
                html +='<tr>';
                html +='<td>'+row.sign_date+'</td>';
                html +='<td>'+row.sign_no+'</td>';
                html +='<td>'+row.restaurant_name+'</td>';
                html +='<td>'+row.adult_num+'</td>';
                html +='<td>'+row.adult_price+'</td>';
                html +='<td>'+row.child_num+'</td>';
                html +='<td>'+row.child_price+'</td>';
                html +='<td>'+row.sibu_num+'</td>';
                html +='<td>'+row.sibu_price+'</td>';
                html +='<td>'+row.rebate+'</td>';
                html +='<td>'+row.total_price+'</td>';
                html +='<td>'+row.remark+'</td>';
                html +='<td>';
                html +='    <lqf_link><a class="ajax-open" data-url="{:url(\'TmOrderSignbill/edit\')}"  data-ids="{\'id\':\''+row.id+'\'}" data-title="修改" data-calback="ajaxTmOrderSignbillData($(\'.tm_guide_sginbill\'))">修改</a></lqf_link>';
                html +='    <lqf_link><a class="ajax-del" data-url="{:url(\'TmOrderSignbill/del\')}"  data-ids="{\'id\':\''+row.id+'\'}"  data-calback="ajaxTmOrderSignbillData($(\'.tm_guide_sginbill\'))">删除</a></lqf_link>';
                html +='</td>';
                html +='</tr>';
            })
            object.find(".show_list_data tbody").html(html);
            object.find(".ibox-title label").html(jsonData.total_money);

            ajaxUpdateTotalMoney();

        },"json");
    }
    
</script>