<body class="gray-bg">
<div class="ibox-content table-responsive">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="{:url('TmOrderDriver/add')}">
            <input type="hidden" name="type" value="3">
            <input type="hidden" name="order_id" value="{$order_id}">
            <div class="form-group">
                <label class="col-sm-2 control-label">日期安排</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control datepicker" name="driver_date"  placeholder="司机跟团行程日期安排，默认为团队到达日期" value="{$arrive_date}">
                    <span class="help-block m-b-none">司机跟团行程日期安排，默认为团队到达日期,全程默认为一个司机</span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">司机</label>
                <div class="col-sm-8 ">
                    <div class="input-group">
                        <input type="hidden" name="driver_id">
                        <input type="text" class="form-control ajax-search-select-driver"
                            data-url="{:url('Driver/show_json')}" name="driver_name" placeholder="请输入关键字选司机" >
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
                        </div>
                    </div>
                    <span class="help-block m-b-none"></span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">车费</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control " name="driver_fee"  placeholder="车费">
                    <span class="help-block m-b-none"></span></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control" cols="80" placeholder="请输入备注"></textarea>
                    <span class="help-block m-b-none"></span></div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    {include file="admin@layout/save_btn"}
                </div>
            </div>
        </form>
    </div>
</div>

