<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('TmGuideFare/add')}">
        <input type="hidden" name="order_id" value="{$info.id}">
        <input type="hidden" name="guide_id" value="{$info.guide_id}">
        <input type="hidden" name="guide_name" value="{$info.guide_name}">
    
        <div class="form-group">
            <label class="col-sm-2 control-label">导游</label>
            <div class="col-sm-8">
                <p class="form-control-static">{$info.guide_name}</p>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">司机</label>
            <div class="col-sm-8 fly-form-select">
                <input type="hidden" name="driver_name">
                <select name="driver_id" class="chosen-select driver-chosen-select">
                    <option value="">选择司机</option>
                    {volist name='$info.driver_list' id='vo'}
                    <option value="{$vo['driver_id']}" {notempty name="info['driver_id']"}{if condition="$info['driver_id'] eq $vo['driver_id']"} selected="selected" {/if}{/notempty} >{$vo['driver_name']}</option>
                    {/volist}
                </select>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">代付金额</label>
            <div class="col-sm-8">
                <input name="money" class="form-control" type="text" placeholder="请输入代付金额" required/>
                <span class="help-block m-b-none"></span></div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control" cols="80" placeholder="请输入备注"></textarea>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>
<script>
    //选择用户跳出联系人
    $('.driver-chosen-select').on('change', function(e, params) {
        var text=$(this).find("option:selected").text();
        $(this).prev('input').val(text);
        log(text);
    });
</script>