<body class="gray-bg">
<div class="ibox-content table-responsive">
    <!--    订单明细-->
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn  btn-info guide-print"><i class="fa fa-print"></i> 打印</button>
        </div>
    </div>
    <div class="row" id="guide-content">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover" style="table-layout: fixed;word-break:break-all;">
                <tbody>
                <tr>
                    <td colspan="8" class="text-center"><h3>导游团队详细表</h3></td>
                </tr>
                <tr>
                    <td width="100"><label>产品线路：</label></td>
                    <td width="100">{$info.line_name}</td>
                    <td width="100"><label>人数：</label></td>
                    <td width="100">{$info.all_num}({$info.adult_num}.{$info.child_num})</td>
                    <td width="100"><label>旅客姓名：</label></td>
                    <td width="100">{$info.tourist_name} {$info.tourist_mobile}</td>
                    <td width="100"><label>全陪：</label></td>
                    <td width="100">{$info.escort_name} {$info.escort_mobile}</td>
                </tr>
                <tr>
                    <td><label>接团日期</label></td>
                    <td>{$info.arrive_date}</td>
                    <td colspan="6">  {$info.arrive_train_name} {$info.arrive_station_name} {$info.arrive_time}  </td>
                </tr>
                <tr>
                    <td><label>送团日期</label></td>
                    <td>{$info.leave_date} </td>
                    <td colspan="6">{$info.leave_train_name} {$info.leave_station_name} {$info.leave_time} </td>
                </tr>
                <tr>
                    <td><label>导游：</label></td>
                    <td colspan="3">
                        {volist name='info.guidelist' id='vo'}
                        {$vo['guide_date']} {$vo['guide_name']}(tel:{$vo['guide_mobile']}) 备注：{$vo['remark']}<br>
                        {/volist}

                    </td>
                    <td><label>司机：</label></td>
                    <td colspan="3">
                        {volist name='info.driverlist' id='vo'}
                        {$vo['driver_name']}(tel:{$vo['driver_mobile']}) 车费： {$vo['driver_fee']}<br>
                        {/volist}

                    </td>
                </tr>
                <tr>
                    <td colspan="8"><h3>走行程</h3></td>
                </tr>
                {volist name='info.triplist' id='vo'}
                <tr>
                    <td>第{{$vo['trip_day']}}天</td>
                    <td>{$vo['trip_name']}</td>
                    <td colspan="5">{$vo['trip_content']}</td>
                    <td colspan="1">{$vo['trip_meal']}</td>
                </tr>
                {/volist}
                <tr>
                    <td colspan="8"><h3>接团标准及注意事项</h3></td>
                </tr>
                <tr>
                    <td colspan="8">{$info.content}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("body").on("click", ".guide-print", function () {
            $("#guide-content").jqprint(
                {
                    importCSS: true
                }
            );
        });


    });
</script>
<script src="__STATIC__/admin/js/jquery.browser.js"></script>