<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
            <div class="ibox-content">
                <ul class="nav nav-tabs m-b-lg">
                    {volist name='group_list' id='vo'}
                    <li {noempty name="key"} {if condition="$key eq $groupid " }  class="active" {/if} {/noempty}>
                        <a href="{:url('website/setting',array('groupid'=>$key))}" >{$vo}</a></li>
                    {/volist}
                    <li><a href="{:url('website/show')}">配置列表</a></li>
                </ul>
                <div class="ibox-content">
                    <form class="form-horizontal" method="post" action="{:url('Website/setting')}">
                        {$html}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                {include file="admin@layout/save_btn"}
                            </div>
                        </div>
                    </form>
                </div>

            </div>
    </div>
</div>
