<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> {$page_title}</h5>
                    <div class="ibox-tools"><a href="javascript:void(0);" class="btn btn-xs btn-default btn-help-detail"  data-type="cst_customer"> <i class="fa fa-question-circle"> 操作说明</i></a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-content table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('Channel/add')}" data-title="模型添加" ><i class="fa fa-plus"></i>添加</a></lqf_link>
                        </div>
                    </div>
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('Channel/show_json')}" width="100%">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="60" orderField="by_name" class="sort-filed"><span>ID</span></th>
                            <th width="100" orderField="by_name" class="sort-filed"><span>模型名称</span></th>
                            <th width="100"><span>标识</span></th>
                            <th width="100"><span>主表</span></th>
                            <th width="100"><span>附加表名</span></th>
                            <th width="150" class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                        <tr>
                            <td colspan="7" align="center"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) { %>
    <tr>
        <td><input name="user_id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><%=data[i]['id']%></td>
        <td><%=data[i]['name']%></td>
        <td><%=data[i]['nid']%></td>
        <td><%=data[i]['maintable']%></td>
        <td><%=data[i]['addtable']%></td>
        <td class="text-center">
        <lqf_link><a class="ajax-goto" data-url="{:url('ChannelField/show')}"
             data-ids="{'id':'<%=data[i]['id']%>'}" title="模型扩展字段">
                    <i class="fa fa-file-excel-o"></i>扩展字段</a></lqf_link>&nbsp;&nbsp;
        <lqf_link><a class="ajax-goto" data-url="{:url('Arcext/show')}"
             data-ids="{'channel_id':'<%=data[i]['id']%>'}" title="模型文章扩展表">
                    <i class="fa fa-tasks"></i>扩展表</a></lqf_link>&nbsp;&nbsp;
        <lqf_link><a class="ajax-open" data-url="{:url('Channel/edit')}"
                     data-ids="{'id':'<%=data[i]['id']%>'}" data-title="修改" width="600" height="400">
                <i class="fa fa-edit"></i>修改</a></lqf_link>&nbsp;&nbsp;
        <lqf_link><a class="ajax-del confirm text-danger" data-url="{:url('Channel/del')}"
                     data-ids="{'id':'<%=data[i]['id']%>'}">
                <i class="fa fa-remove"></i>删除</a></lqf_link>&nbsp;&nbsp;
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>