<body class="gray-bg">
<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('Trip/add_more')}">
        <div class="ibox-content">
            线路：{$line.name} <br></br>天数：{$line.days}
        </div>
        <div class="list-trip">
        {notempty name='list'}
        {volist name='list' id='vo'}
            <div class="ibox-content row">
                <input type="hidden" name="id[]" value="{$vo['id']|default=''}">
                <input type="hidden" name="line_id[]" value="{$line.id}">
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-3">
                    <input name="name[]" class="form-control" type="text" value="{$vo['name']|default=''}" placeholder="请输入行程名称"/>
                    <span class="help-block m-b-none"></span> </div>
                <div class="col-sm-3">
                    <input name="abbr[]" class="form-control" type="text" value="{$vo['abbr']|default=''}"  placeholder="请输入行程名称缩写"/>
                    <span class="help-block m-b-none"></span> </div>
                <label class="col-sm-1 control-label">天</label>
                <div class="col-sm-2">
                    <input name="sort[]" class="form-control" type="text" value="{$vo['sort']|default='0'}" placeholder="请输入行程第几天"/>
                    <span class="help-block m-b-none"></span> </div>
                <div class="col-sm-1"><a href="javascript:void(0);" class="delete-trip"  data-url="{:url('Trip/del',array('id'=>$vo.id))}" data-calback="delrow(this)">删除</a> </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">行程内容</label>
                <div class="col-sm-6">
                    <textarea name="content[]" class="form-control" cols="80" rows="4" placeholder="请输行程内容">{$vo['content']|default=''}</textarea>
                    <span class="help-block m-b-none"></span> </div>
            </div>
            {/volist}
        </div>
        {else/}
            <div class="ibox-content row">
                <input type="hidden" name="id[]" value="{$vo['id']|default=''}">
                <input type="hidden" name="line_id[]" value="{$line.id}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-3">
                        <input name="name[]" class="form-control" type="text" value="" placeholder="请输入行程名称"/>
                        <span class="help-block m-b-none"></span> </div>
                    <div class="col-sm-3">
                        <input name="abbr[]" class="form-control" type="text" value=""  placeholder="请输入行程名称缩写"/>
                        <span class="help-block m-b-none"></span> </div>
                    <label class="col-sm-1 control-label">天</label>
                    <div class="col-sm-2">
                        <input name="sort[]" class="form-control" type="text" value="1" placeholder="请输入行程第几天"/>
                        <span class="help-block m-b-none"></span> </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">行程内容</label>
                    <div class="col-sm-6">
                        <textarea name="content[]" class="form-control" cols="80" rows="4" placeholder="请输行程内容"></textarea>
                        <span class="help-block m-b-none"></span> </div>
                </div>
            </div>
        {/notempty}

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <a href="javascript:void(0);" class="btn btn-block btn-primary"  id="add_trip_btn">增加一天行程</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $("#add_trip_btn").click(function () {
            var html = $(".list-trip .row:last").clone(true);
            $(".list-trip").append(html);
            var days = $(".list-trip .row").length;
            $(".list-trip .row:last").find("input[name='sort[]']").val(days);
            $(".list-trip .row:last").find("input[name='id[]']").val('');
        });


    });

    $("body").on("click", ".delete-trip", function () {
        var target= $(this).attr('data-url');
        $.get(target).success(function (data) {
            if (data.code) {
                layer.msg(data.msg, {icon: 1});
            } else {
                layer.msg(data.msg, {icon: 5});
            }
        },"json");
        $(this).parent().parent().parent().remove();
    })

</script>