<div class="ibox-content table-responsive">
    <!--    订单明细-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">订单详细</div>
                
                <div class="panel-body ">
                    <table class="table table-bordered ">
                        <tbody>
                        <tr>
                            <td width="100"><label>日期:</label>{$info.team_date}</td>
                            <td width="100"><label>线路:</label>{$info.line_name}</td>
                            <td width="100"><label>行程:</label>{$info.trip_name}</td>
                            <td width="100"><label>导游:</label>{$info.guide_name} ({$info.guide_price})</td>
                            <td width="100"><label>司机:</label>{$info.driver_name} ({$info.driver_price})</td>
                        </tr>
                        <tr>
                            <td>备注信息</td>
                            <td colspan="4">{$info.remark}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            
            </div>
        </div>
    </div>
    <!--    票务明细-->
    <div class="row">
        <div class="col-sm-12 ">
            <div class="panel panel-success">
                <div class="panel-heading">团队收入</div>
                <div class="panel-body ">
                    <div class="tab-content">

                        <!--店铺收入-->
                        <div class="tab-pane active" id="tab-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button
                                        data-url="{:url('SkGuideHead/add', array('id' => $info['id']))}"
                                        class=" btn btn-xs btn-default ajax-open"
                                        data-calback="ajaxSkTeamInfoData($('.ajax-list-table.head'))">
                                        <i class="fa fa-plus"></i> 添加店铺收入
                                    </button>
                                </div>
                            </div>
                            <table class="table table-hover table-bordered ajax-list-table head" width="100%"
                                   data-url="{:url('Finance/skteam_info_json', array('id' => $info['id'],'type'=>'head'))}">
                                <thead>
                                <tr>
                                    <th width="100">店铺</th>
                                    <th width="100">人头费</th>
                                    <th width="100">进店人数</th>
                                    <th width="100">补人头数</th>
                                    <th width="100">补人头费￥</th>
                                    <th width="100">正价流水￥</th>
                                    <th width="100">正价回扣￥</th>
                                    <th width="100">特价流水￥</th>
                                    <th width="100">特价回扣￥</th>
                                    <th width="100">总流水￥</th>
                                    <th width="100">回扣金额￥</th>
                                    <th width="100">导游现提金额￥</th>
                                    <th width="100">导游分成￥</th>
                                    <th width="100">返社金额￥</th>
                                    <th width="100">备注</th>
                                    <th width="100">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <table class="table table-hover table-bordered ajax-list-table store" width="100%"
                                data-url="{:url('Finance/skteam_info_json', array('id' => $info['id'],'type'=>'store'))}">
                                <thead>
                                <tr>
                                    <th width="100"><span>店铺</span></th>
                                    <th width="100"><span>价格</span></th>
                                    <th width="100"><span>进店人数</span></th>
                                    <th width="100"><span>补人数</span></th>
                                    <th width="100"><span>补人数总价</span></th>
                                    <th width="100"><span>流水</span></th>
                                    <th width="100"><span>回扣点</span></th>
                                    <th width="100"><span>回扣金额</span></th>
                                    <th width="100"><span>总金额</span></th>
                                    <th width="100"><span>备注</span></th>
                                    <th width="80"><span>操作</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>


                        </div>

                        <!--其它收入-->
                        <div class="tab-pane active" id="tab-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button
                                        data-url="{:url('SkTeamRevenue/add', array('order_id' => $info['id']))}"
                                        class=" btn btn-xs btn-default ajax-open"
                                        data-calback="ajaxSkTeamInfoData($('.ajax-list-table.revenue'))">
                                        <i class="fa fa-plus"></i> 添加其它收入
                                    </button>
                                </div>
                            </div>
                            <table class="table table-hover table-bordered ajax-list-table revenue" width="100%"
                                data-url="{:url('Finance/skteam_info_json', array('id' => $info['id'],'type'=>'revenue'))}">
                                <thead>
                                <tr>
                                    <th width="100"><span>项目名称</span></th>
                                    <th width="100"><span>价格</span></th>
                                    <th width="100"><span>数量</span></th>
                                    <th width="100"><span>总价</span></th>
                                    <th><span>备注</span></th>
                                    <th width="100"><span>操作</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
        </div>
            
            <div class="panel panel-success">
                <div class="panel-heading">团队支出</div>
                <div class="panel-body ">
                    <div class="tab-content">
                        
                        <!--导游-->
                        <div class="tab-pane active" id="tab-4">
                    
                            <div class="row">
                                <div class="col-sm-12 "><span class="btn btn-xs btn-default">导游报账</span></div>
                            </div>
    
                            <div class="panel panel-default">
                                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="tabs_panels.html#collapseTwo" class="collapsed" aria-expanded="false">导游报账明细 </a></div>
                                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                            <!--导游代付车费-->
                            <div style="background: #EFEFEF;">
                                <div class="row">
                                    <div class="col-sm-12 "><span class="bg-info">代付车费</span></div>
                                </div>
                                <table class="table table-hover table-bordered tab-pane ajax-list-guide fare" width="100%"
                                    data-url="{:url('Finance/skteam_guide_info_json', array('id' => $info['id'],'type'=>'fare'))}">
                                    <thead>
                                    <tr>
                                        <th width="100">导游</th>
                                        <th width="100">收钱人</th>
                                        <th width="100">代付金额</th>
                                        <th>备注</th>
                                        <th width="100">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        
                                <!--导游代付餐费-->
                                <div class="row">
                                    <div class="col-sm-12 "><span class="bg-info">代付餐费</span></div>
                                </div>
                                <table class="table table-hover table-bordered ajax-list-guide food" width="100%"
                                    data-url="{:url('Finance/skteam_guide_info_json', array('id' => $info['id'],'type'=>'food'))}">
                                    <thead>
                                    <tr>
                                        <th width="100">导游</th>
                                        <th width="100">餐厅</th>
                                        <th width="100">成人数</th>
                                        <th width="100">成人餐费￥</th>
                                        <th width="100">儿童数</th>
                                        <th width="100">儿童餐费￥</th>
                                        <th width="100">合计￥</th>
                                        <th>备注</th>
                                        <th width="100">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        
                                <!--代付景点费-->
                                <div class="row">
                                    <div class="col-sm-12 "><span class="bg-info">代付景点费</span></div>
                                </div>
                                <table class="table table-hover table-bordered ajax-list-guide scenic" width="100%"
                                    data-url="{:url('Finance/skteam_guide_info_json', array('id' => $info['id'],'type'=>'scenic'))}">
                                    <thead>
                                    <tr>
                                        <th width="100">导游</th>
                                        <th width="100">景点</th>
                                        <th width="100">老人数</th>
                                        <th width="100">老人餐费￥</th>
                                        <th width="100">成人数</th>
                                        <th width="100">成人餐费￥</th>
                                        <th width="100">儿童数</th>
                                        <th width="100">儿童餐费￥</th>
                                        <th width="100">合计￥</th>
                                        <th>备注</th>
                                        <th width="100">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        
                                <!--购物店头费-->
                                <div class="row">
                                    <div class="col-sm-12 "><span class="bg-info">购物店人头费</span></div>
                                </div>
                                <table class="table table-hover table-bordered ajax-list-guide head" width="100%"
                                    data-url="{:url('Finance/skteam_guide_info_json', array('id' => $info['id'],'type'=>'head'))}">
                                    <thead>
                                    <tr>
                                        <th width="100">导游</th>
                                        <th width="100">店铺</th>
                                        <th width="100">人头费</th>
                                        <th width="100">进店人数</th>
                                        <th width="100">补人头数</th>
                                        <th width="100">补人头费￥</th>
                                        <th width="100">正价流水￥</th>
                                        <th width="100">正价回扣￥</th>
                                        <th width="100">特价流水￥</th>
                                        <th width="100">特价回扣￥</th>
                                        <th width="100">总流水￥</th>
                                        <th width="100">回扣金额￥</th>
                                        <th width="100">导游现提金额￥</th>
                                        <th width="100">导游分成￥</th>
                                        <th width="100">返社金额￥</th>
                                        <th>备注</th>
                                        <th width="100">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        
                                <!--交社费用-->
                                <div class="row">
                                    <div class="col-sm-12 "><span class="bg-info">交社费用</span></div>
                                </div>
                                <table class="table table-hover table-bordered ajax-list-guide travel" width="100%"
                                    data-url="{:url('Finance/skteam_guide_info_json', array('id' => $info['id'],'type'=>'travel'))}">
                                    <thead>
                                    <tr>
                                        <th width="100">导游</th>
                                        <th width="100">选项</th>
                                        <th width="100">人头费</th>
                                        <th width="100">人数</th>
                                        <th width="100">合计</th>
                                        <th>备注</th>
                                        <th width="100">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        
                                <!--回执单费用-->
                                <div class="row">
                                    <div class="col-sm-12 "><span class="bg-info">回执单费用</span></div>
                                </div>
                                <table class="table table-hover table-bordered ajax-list-guide receipt" width="100%"
                                    data-url="{:url('Finance/skteam_guide_info_json', array('id' => $info['id'],'type'=>'receipt'))}">
                                    <thead>
                                    <tr>
                                        <th width="100">导游</th>
                                        <th width="100">回执选项</th>
                                        <th width="100">成人数</th>
                                        <th width="100">成人餐费￥</th>
                                        <th width="100">儿童数</th>
                                        <th width="100">儿童餐费￥</th>
                                        <th width="100">合计￥</th>
                                        <th>备注</th>
                                        <th width="100">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        
                                <!--其它代付费用-->
                                <div class="row">
                                    <div class="col-sm-12 "><span class="bg-info">其它代付费用</span></div>
                                </div>
                                <table class="table table-hover table-bordered ajax-list-guide paid" width="100%"
                                    data-url="{:url('Finance/skteam_guide_info_json', array('id' => $info['id'],'type'=>'paid'))}">
                                    <thead>
                                    <tr>
                                        <th width="100">导游</th>
                                        <th width="100">项目</th>
                                        <th width="100">金额￥</th>
                                        <th>备注</th>
                                        <th width="100">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                        
                                <!--其它代收费用-->
                                <div class="row">
                                    <div class="col-sm-12 "><span class="bg-info">其它代收费用</span></div>
                                </div>
                                <table class="table table-hover table-bordered ajax-list-guide coll" width="100%"
                                    data-url="{:url('Finance/skteam_guide_info_json', array('id' => $info['id'],'type'=>'coll'))}">
                                    <thead>
                                    <tr>
                                        <th width="100">导游</th>
                                        <th width="100">项目</th>
                                        <th width="100">金额￥</th>
                                        <th>备注</th>
                                        <th width="100">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                    
                            </div>
                                </div>
                            </div>
                            
                        </div>

                        <!--签单支出-->
                        <div class="tab-pane active" id="tab-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button
                                        data-url="{:url('SkTeamSignbill/add', array('order_id' => $info['id']))}"
                                        class=" btn btn-xs btn-default ajax-open"
                                        data-calback="ajaxSkTeamInfoData($('.ajax-list-table.signbill'))">
                                        <i class="fa fa-plus"></i> 添加签单支出
                                    </button>
                                </div>
                            </div>
                            <table class="table table-hover table-bordered ajax-list-table signbill" width="100%"
                                data-url="{:url('Finance/skteam_info_json', array('id' => $info['id'],'type'=>'signbill'))}">
                                <thead>
                                <tr>
                                    <th width="100"><span>日期</span></th>
                                    <th width="100"><span>单号</span></th>
                                    <th width="100"><span>餐厅</span></th>
                                    <th width="100"><span>成人数</span></th>
                                    <th width="100"><span>标准</span></th>
                                    <th width="100"><span>儿童数</span></th>
                                    <th width="100"><span>标准</span></th>
                                    <th width="100"><span>司陪数</span></th>
                                    <th width="100"><span>标准</span></th>
                                    <th width="100"><span>回扣</span></th>
                                    <th width="100"><span>总价</span></th>
                                    <th width="100"><span>备注</span></th>
                                    <th width="100"><span>操作</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                
                        </div>
                
                        <!--其它支出-->
                        <div class="tab-pane active" id="tab-11">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button data-url="{:url('SkTeamExpend/add', array('order_id' => $info['id']))}"
                                        class=" btn btn-xs btn-default ajax-open"
                                        data-calback="ajaxSkTeamInfoData($('.ajax-list-table.expend'))">
                                        <i class="fa fa-plus"></i> 添加其它支出
                                    </button>
                                </div>
                            </div>
                            <table class="table table-hover table-bordered ajax-list-table expend" width="100%"
                                data-url="{:url('Finance/skteam_info_json', array('id' => $info['id'],'type'=>'expend'))}">
                                <thead>
                                <tr>
                                    <th width="100"><span>项目名称</span></th>
                                    <th width="100"><span>价格</span></th>
                                    <th width="100"><span>数量</span></th>
                                    <th width="100"><span>总价</span></th>
                                    <th><span>备注</span></th>
                                    <th width="100"><span>操作</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
            
            
                    </div>
                    
                </div>
            </div>
            <!--金额统计-->
            <div class="order_total_content bg-success">
                <table class="table table-bordered text-center ">
                    <thead>
                    <tr>
                        <th class="text-center ">其它收入</th>
                        <th class="text-center ">导游报账</th>
                        <th class="text-center ">车费</th>
                        <th class="text-center ">签单支出</th>
                        <th class="text-center ">其它支出</th>
                        <th class="text-center ">购物店收入</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="revenue"><label>0</label></td>
                        <td class="guide"><label>{$info.guide_payable}</label></td>
                        <td class="driver"><label>{$info.driver_price}</label></td>
                        <td class="signbill"><label>0</label></td>
                        <td class="expend"><label>0</label></td>
                        <td class="store"><label>0</label></td>
                    </tr>
                    </tbody>
                </table>
                <div class="ibox-title  income ">
                    收入明细：
                    <span class="revenue">其它收入(<label>0.00</label>)</span> +
                    <span class="store">购物店(<label>0.00</label>)</span>
                    
                </div>
                <div class="ibox-title  out ">支出明细：
                    <span class="guide">导游报账(<label>{$info.guide_payable}</label>)</span> +
                    <span class="driver">车费(<label>{$info.driver_price}</label>)</span>+
                    <span class="signbill">签单(<label>0.00</label>)</span>+
                    <span class="expend">其它支出(<label>0.00</label>)</span>
                </div>
                <div class="ibox-title  profit text-success ">总利润：
                    <span class="in">总收入(<label>0.00</label>)</span> -
                    <span class="out">总支出(<label>0.00</label>)</span>
                    <span class="rtn"> =  总毛利：(<label>0.00</label>)</span>
                </div>
            </div>
<!--            <div class="ibox-content">-->
<!--                <a class="btn btn-info ajax-get" data-url="{:url('Finance/skteam_confirm', array('order_id' => $info['id']))}"  data-title="确认结算入账">确认结算入账</a>-->
<!--            </div>-->
            
    </div>

</div>

<!--加载数据模板-->
{include file="comm/sk_team_profit"/}