<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-home"></i>团队订单管理</h5>
                    <div class="ibox-tools">
                        <a href="javascript:void(0);" class="btn btn-xs btn-default btn-field-set" data-id="tm_order"> <i class="fa fa-question-circle"> 字段设置</i></a>
                        <a href="?"  class="btn btn-xs btn-danger"><i class="fa fa-refresh"></i>刷新</a>
                    </div>
                </div>
                <div class="ibox-content table-responsive">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <div class="col-sm-3 m-b-xs">
                                <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('TmOrder/add')}" data-title="日期添加" ><i class="fa fa-plus"></i>添加</a></lqf_link>
                                <lqf_link><a class="btn btn-default export ajax-goto" target-form="form-inline" data-url="{:url('TmOrder/down')}"><i class="fa fa-download"></i> 下载 </a></lqf_link>
                            </div>
                            <div class="col-sm-9 m-b-xs text-right">
                                <div class="form-group text-left">
                                    <select class="form-control" name="date_type" >
                                        <option value="1">到达日期</option>
                                        <option value="2">离开日期</option>
                                        <option value="3">创建日期</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="date_s" class="form-control datepicker" style="width: 100px;"  value="{$next_date_s}">
                                </div>
                                至
                                <div class="input-group">
                                    <input type="text" name="date_e" class="form-control datepicker" style="width: 100px;"  value="{$next_date_e}">
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                    <input name="line_id" class="form-control" type="hidden"  id="line_id"/>
                                    <input type="text" class="form-control  ajax-search-select-line" data-url="{:url('Line/show_json')}"
                                        name="line_name" placeholder="请输入关键字选择线路">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        </ul>
                                    </div>
                                </div>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('TmOrder/show_json')}"  style="width:2000px;">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="100" orderField="by_team" class="sort-filed"><span>团队编号</span></th>
                            <th width="100" orderField="by_arrive_date" class="sort-filed"><span>到达日期</span></th>
                            <th width="100" orderField="by_line" class="sort-filed"><span>线路</span></th>
                            <th width="100" orderField="by_tourist_name" class="sort-filed"><span>姓名/电话</span></th>
                            <th width="100" orderField="by_all_num" class="sort-filed"><span>人数</span></th>
                            <th width="80" orderField="by_arrive_train" class="sort-filed"><span>到达车次/站台/时间</span></th>
                            <th width="80" orderField="by_origin" class="sort-filed"><span>来源地</span></th>
                            <th width="80" orderField="by_days" class="sort-filed"><span>天数</span></th>
                            <th width="80" orderField="by_hotel_name" class="sort-filed"><span>酒店标准</span></th>
                            <th width="60" orderField="by_hotel_name" class="sort-filed"><span>酒店数量</span></th>
                            <th width="100" orderField="by_hotel_name" class="sort-filed"><span>酒店名称</span></th>
                            <th width="150"><span>备注</span></th>
                            <th width="80" orderField="by_agency" class="sort-filed"><span>办事处</span></th>
<!--                            <th width="100"><span>客源备注</span></th>-->
<!--                            <th width="100" orderField="by_saleman" class="sort-filed"><span>业务员</span></th>-->
<!--                            <th width="100"><span>返程地</span></th>-->
                            <th width="100" orderField="by_leave_date" class="sort-filed"><span>离开日期</span></th>
                            <th width="80"><span>离开车次/站台/时间</span></th>
                            <th width="100"><span>票务/坐席/票数</span></th>
                            <th width="100"><span>导游</span></th>
                            <th width="100"><span>司机</span></th>
                            <th width="80">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <table class="table ajax-list-table">
                        <tfoot class="ibox-content">
                    <tr>
                        <td colspan="15" align="center"></td>
                    </tr>
                    </tfoot></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) { %>
    <tr>
        <td><input name="user_id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><%=data[i]['order_no']%></td>
        <td><%=data[i]['arrive_date']%></td>
        <td><%=data[i]['line_name']%></td>
        <td> <%=data[i]['tourist_name']%> <%=data[i]['tourist_mobile']%></td>
        <td title="成人：<%=data[i]['adult_num']%> 儿童：<%=data[i]['child_num']%> ">
            <%=data[i]['all_num']%><small>(<%=data[i]['adult_num']%>.<%=data[i]['child_num']%>)</small>
        </td>
        <td>
            <%=data[i]['arrive_train_name']%> <br>
            <%=data[i]['arrive_station_name']%><br>
            <%=data[i]['arrive_time']%>
        </td>
        <td><%=data[i]['origin']%></td>
        <td><%=data[i]['days_name']%></td>
        <td><%=data[i]['hotel_std']%></td>
        <td><%=data[i]['hotel_room']%></td>
        <td>
            <%
            var hotel_list=data[i]['hotel_list'];
            for(var j=0;j<hotel_list.length;j++) {
            %>
            <%=hotel_list[j]['hotel_name']%><br>
            <% } %>
        </td>
        <td><%=data[i]['remark']%></td>
        <td><%=data[i]['agency_name']%></td>
<!--        <td><%=data[i]['arigin_remark']%></td>-->
<!--        <td><%=data[i]['saleman_name']%></td>-->
<!--        <td><%=data[i]['return_place']%></td>-->
        <td><%=data[i]['leave_date']%></td>
        <td>
            <%=data[i]['leave_train_name']%><br>
            <%=data[i]['leave_station_name']%><br>
            <%=data[i]['leave_time']%>
        </td>
        <td><%=data[i]['ticket_status_text']%><br><%=data[i]['ticket_type']%><br><%=data[i]['ticket_num']%></td>
        <td>
            <%
            var guide_list=data[i]['guide_list'];
            for(var j=0;j<guide_list.length;j++) {
            %>
            <%=guide_list[j]['guide_name']%><br>
            <% } %><br>

        </td>
        <td>
            <%
            var driver_list=data[i]['driver_list'];
            for(var j=0;j<driver_list.length;j++) {
            %>
            <%=driver_list[j]['driver_name']%><br>
            <% } %><br>

        </td>
        <td>
            <p><lqf_link><a class="ajax-goto" data-url="{:url('TmOrder/view')}"  data-ids="{'id':'<%=data[i]['id']%>'}" data-title="分派单预览">预览</a></lqf_link></p>
            <p><lqf_link><a class="ajax-open" data-url="{:url('TmOrder/arrange')}"  data-ids="{'id':'<%=data[i]['id']%>'}" data-title="收款">收款</a></lqf_link></p>
            <p><lqf_link><a class="ajax-open" data-url="{:url('TmOrderHotel/arrangeEdit')}"  data-ids="{'id':'<%=data[i]['id']%>'}" data-title="分配酒店">酒店</a></lqf_link></p>
            <p><lqf_link><a class="ajax-open" data-url="{:url('TmOrder/dispatch')}"  data-ids="{'id':'<%=data[i]['id']%>'}" data-title="计调安排">计调</a></lqf_link></p>
            <p><lqf_link><a class="ajax-open" data-url="{:url('TmOrder/edit')}"  data-ids="{'id':'<%=data[i]['id']%>'}" data-title="修改">修改</a></lqf_link></p>
            <p><lqf_link><a class="ajax-del confirm" data-url="{:url('TmOrder/del')}" data-ids="{'id':'<%=data[i]['id']%>'}">删除</a></lqf_link></p>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>