<body class="gray-bg">
<div class="ibox-content table-responsive">
    <!--    订单明细-->
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>线路</th>
                    <th>名称</th>
                    <th>手机</th>
                    <th>人数</th>
                    <th>返程地</th>
                    <th>票务状态</th>
                    <th>座席</th>
                    <th>订票数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{$info.line_name}</td>
                    <td>{$info.tourist_name}</td>
                    <td>{$info.tourist_mobile}</td>
                    <td>{$info.all_num}</td>
                    <td>{$info.return_place}</td>
                    <td>{$info.ticket_status_text}</td>
                    <td>{$info.ticket_type}</td>
                    <td>{$info.ticket_num}</td>
                </tr>
                <tr>
                    <td>身份证信息</td>
                    <td colspan="6">{$info.idcards}</td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!--    票务明细-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="?#tab-1" data-toggle="tab">购票信息</a></li>
                            <li class=""><a href="?#tab-2" data-toggle="tab">退票信息</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-1">
                            <div class="row">
                                <div class="ibox-content">
                                    <button data-url="{:url('SkOrderTicketBuy/add', array('id' => $info['id']))}"
                                            class=" btn btn-xs btn-primary ajax-open"
                                            data-calback="ajaxTicketBuyData($('.ajax-list-table-buy'))">
                                        <i class="fa fa-plus"></i> 购票
                                    </button>
                                </div>
                            </div>
                            <table class="table table-hover ajax-list-table-buy" width="100%"
                                   data-url="{:url('SkOrderTicketBuy/show_json', array('order_id' => $info['id']))}">
                                <thead>
                                <tr>
                                    <th width="80"><span>目的地</span></th>
                                    <th width="80"><span>航班车次</span></th>
                                    <th width="80"><span>类型</span></th>
                                    <th width="60"><span>票数</span></th>
                                    <th width="60"><span>单价</span></th>
                                    <th width="60"><span>总价</span></th>
                                    <th width="60"><span>时间</span></th>
                                    <th width="120"><span>身份证信息</span></th>
                                    <th width="100"><span>票务公司</span></th>
                                    <th width="120"><span>备注</span></th>
                                    <th width="80"><span>操作</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="ibox-content">
                                    <button data-url="{:url('SkOrderTicketRefund/add', array('id' => $info['id']))}"
                                            class=" btn btn-xs btn-info ajax-open"
                                            data-calback="ajaxTicketRefundData($('.ajax-list-table-refund'))">
                                        <i class="fa fa-plus"></i> 退票
                                    </button>
                                </div>
                            </div>
                            <table class="table table-hover sorttable ajax-list-table-refund" width="100%"
                                   data-url="{:url('SkOrderTicketRefund/show_json', array('order_id' => $info['id']))}">
                                <thead>
                                <tr>
                                    <th width="80"><span>目的地</span></th>
                                    <th width="100"><span>航班车次</span></th>
                                    <th width="80"><span>类型</span></th>
                                    <th width="60"><span>票数</span></th>
                                    <th width="80"><span>票损</span></th>
                                    <th width="80"><span>总票损</span></th>
                                    <th width="100"><span>成本</span></th>
                                    <th width="80"><span>退回金额</span></th>
                                    <th width="100"><span>票日期</span></th>
                                    <th width="60"><span>票务公司</span></th>
                                    <th width="80"><span>备注</span></th>
                                    <th width="80"><span>操作</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--加载数据模板-->
{include file="comm/sk_order_arrange"/}