<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-home"></i>票务统计</h5>
                    <div class="ibox-tools"><a href="?"  class="btn btn-xs btn-danger"><i class="fa fa-refresh"></i>刷新</a></div>
                </div>
                <div class="ibox-content table-responsive">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <div class="col-sm-3">
                                <lqf_link><a class="btn btn-default export ajax-goto" target-form="form-inline" data-url="{:url('Statistics/ticket_json_down')}"><i class="fa fa-download"></i> 导 出</a></lqf_link>
                            </div>
                            <div class="col-sm-9 m-b-xs text-right">
                                <div class="form-group text-left">
                                    <select class="form-control" name="date_type" >
                                        <option value="1">到达日期</option>
                                        <option value="2">离开日期</option>
                                        <option value="3">创建日期</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="date_s" class="form-control datepicker" style="width: 100px;" placeholder="开始时间">
                                </div>
                                至
                                <div class="input-group">
                                    <input type="text" name="date_e" class="form-control datepicker" style="width: 100px;" placeholder="结束时间">
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="ticket_id" class="form-control" type="hidden"/>
                                        <input type="text" class="form-control  ajax-search-select-line" data-url="{:url('Ticket/show_json')}"
                                            name="ticket_name" placeholder="请输入关键字选择票务">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="line_id" class="form-control" type="hidden"  id="line_id"/>
                                        <input type="text" class="form-control  ajax-search-select-line" data-url="{:url('Line/show_json')}"
                                            name="line_name" placeholder="请输入关键字选择线路">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-left">
                                    <select class="form-control" name="ticket_type">
                                        <option value="1">购票</option>
                                        <option value="2">退票</option>
                                    </select>
                                </div>
                                <div class="form-group text-left">
                                    <select class="form-control" name="order_type">
                                        <option value="1">散客</option>
                                        <option value="2">团队</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('Statistics/ticket_json')}">
                        <tbody>
                        </tbody>
                        <tfoot class="ibox-content">
                        <tr>
                            <td colspan="12" align="center"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <!--购买html-->
    <% if(ticket_type=='1') { %>
        <tr>
            <th width="60"><span>目的地</span></th>
            <th width="80"><span>线路</span></th>
            <th width="80"><span>航班车次</span></th>
            <th width="80"><span>类型</span></th>
            <th width="60"><span>票数</span></th>
            <th width="80"><span>单价</span></th>
            <th width="80"><span>总价</span></th>
            <th width="80"><span>手续费</span></th>
            <th width="80"><span>时间</span></th>
            <th width="80"><span>身份证信息</span></th>
            <th width="80"><span>票务</span></th>
            <th width="80"><span>备注</span></th>
        </tr>
        <% for(var i=0;i<data.length;i++) { %>
        <tr>
            <td><%=data[i]['destination']%></td>
            <td><%=data[i]['line_name']%></td>
            <td><%=data[i]['train_name']%></td>
            <td><%=data[i]['train_type']%></td>
            <td><%=data[i]['number']%></td>
            <td><%=data[i]['price']%></td>
            <td><%=data[i]['total_price']%></td>
            <td><%=data[i]['hand_fee']%></td>
            <td><%=data[i]['ticket_time']%></td>
            <td><%=data[i]['idcards']%></td>
            <td><%=data[i]['ticket_name']%></td>
            <td><%=data[i]['remark']%></td>
        </tr>
        <% } %>
            <tr class="text-danger bg-success">
                <td colspan="4" class="text-right">合计：</td>
                <td colspan="1"><%=total_ticket_number%></td>
                <td colspan="1"></td>
                <td colspan="1"><%=total_ticket_money%></td>
                <td colspan="5"><%=total_hand_money%></td>
            </tr>
    <% } %>


    <% if(ticket_type=='2') { %>
    <tr>
        <th width="60"><span>目的地</span></th>
        <th width="80"><span>线路</span></th>
        <th width="80"><span>航班车次</span></th>
        <th width="80"><span>类型</span></th>
        <th width="60"><span>票数</span></th>
        <th width="80"><span>票损</span></th>
        <th width="80"><span>总票损</span></th>
        <th width="80"><span>成本</span></th>
        <th width="80"><span>退回金额</span></th>
        <th width="80"><span>票日期</span></th>
        <th width="80"><span>票务</span></th>
        <th width="80"><span>备注</span></th>
    </tr>
    <% for(var i=0;i<data.length;i++) { %>
    <tr>
        <td><%=data[i]['destination']%></td>
        <td><%=data[i]['line_name']%></td>
        <td><%=data[i]['train_name']%></td>
        <td><%=data[i]['train_type']%></td>
        <td><%=data[i]['number']%></td>
        <td><%=data[i]['loss_fee']%></td>
        <td><%=data[i]['total_loss_fee']%></td>
        <td><%=data[i]['cost']%></td>
        <td><%=data[i]['refund_fee']%></td>
        <td><%=data[i]['ticket_date']%></td>
        <td><%=data[i]['ticket_name']%></td>
        <td><%=data[i]['remark']%></td>
    </tr>
    <% } %>
    <tr class="text-danger bg-success">
        <td colspan="8" class="text-right">合计：</td>
        <td colspan="4"><%=total_refund_money%></td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>