<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-home"></i>团队导游记账</h5>
                    <div class="ibox-tools"><a href="?"  class="btn btn-xs btn-danger"><i class="fa fa-refresh"></i>刷新</a></div>
                </div>
                
                <div class="ibox-content table-responsive">
                    <div class="row">
                        <form id="pagerForm" method="post" class="form-inline searchForm">
                            <div class="col-sm-3 m-b-xs">
                            </div>
                            <div class="col-sm-9 m-b-xs text-right">
                                离开日期：
                                <div class="input-group">
                                    <input type="text" name="date_s" class="form-control datepicker" style="width: 150px;"  placeholder="选择开始日期" >
                                </div>
                                至
                                <div class="input-group">
                                    <input type="text" name="date_e" class="form-control datepicker" style="width: 150px;"  placeholder="选择开结日期">
                                </div>
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="输入关键字搜索" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-primary ajaxSearchForm"><i class="fa fa-search"></i> 搜索</button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover sorttable ajax-list-table" data-url="{:url('TmGuide/show_json')}" width="100%">
                        <thead>
                        <tr>
                            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
                            <th width="100" orderField="by_agency" class="sort-filed"><span>办事处</span></th>
                            <th width="100" orderField="by_line" class="sort-filed"><span>线路</span></th>
                            <th width="60" orderField="by_all" class="sort-filed"><span>人数</span></th>
                            <th width="100" orderField="by_arrive_date" class="sort-filed"><span>抵达日期</span></th>
                            <th width="100" orderField="by_leave_date" class="sort-filed"><span>离开日期</span></th>
                            <th width="100" orderField="by_escort" class="sort-filed"><span>全陪姓名</span></th>
                            <th width="100"><span>导游</span></th>
                            <th width="100"><span>司机</span></th>
                            <th  width="100" orderField="by_payable" class="sort-filed"><span>报账款</span></th>
                            <th  width="100">备注</th>
                            <th  width="50">冻结</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <table class="table ajax-list-table"><tfoot class="ibox-content"><tr><td align="center" class="pagestring"></td></tr></tfoot></table>
                </div>
            
            </div>
        </div>
    </div>
</div>
<script id="tableListTpl" type="text/html">
    <% for(var i=0;i<data.length;i++) { %>
    <tr>
        <td><input name="user_id" class="checkboxCtrlId" value="<%=data[i]['id']%>" type="checkbox"></td>
        <td><%=data[i]['agency_name']%></td>
        <td><%=data[i]['line_name']%></td>
        <td><%=data[i]['all_num']%>(<%=data[i]['adult_num']%>.<%=data[i]['child_num']%>)</td>
        <td><%=data[i]['arrive_date']%></td>
        <td><%=data[i]['leave_date']%></td>
        <td><%=data[i]['escort_name']%><br><%=data[i]['escort_mobile']%></td>
        <td>
            <%
            var guide_list=data[i]['guide_list'];
            for(var j=0;j<guide_list.length;j++) {
            %>
            <%=guide_list[j]['guide_name']%><br>
            <% } %>
        </td>
        <td>
            <%
            var driver_list=data[i]['driver_list'];
            for(var j=0;j<driver_list.length;j++) {
            %>
            <%=driver_list[j]['driver_name']%><br>
            <% } %>
        </td>
        <td><%=data[i]['guide_payable']%></td>
        <td><%=data[i]['remark']%></td>
        <%
        var deposit='';
        var lock='';
        var settle='';
            if(data[i]['confirm']=='1'){ deposit='checked'; }
            if(data[i]['lock']=='1'){ lock='checked'; }
            if(data[i]['settle']=='1'){ settle='checked'; }
        %>
        <td><input name="lock" class="ajax-checkbox" type="checkbox"   data-url="{:url('TmGuide/set_lock',array('name'=>'lock'))}"  data-id="<%=data[i]['id']%>" <%=lock%> ></td>
        <td>
            <%if(data[i]['confirm']=='0'){%>
            <p><lqf_link><a class="ajax-goto" data-url="{:url('Finance/tmorder_profit')}"  data-ids="{'id':'<%=data[i]['id']%>'}">利润报表</a></lqf_link></p>
            <p><lqf_link><a class="ajax-goto" data-url="{:url('TmGuide/add')}"  data-ids="{'id':'<%=data[i]['id']%>'}" data-title="导游记账">导游记账</a></lqf_link></p>
            <%}else{%>
            <lqf_link><a class="ajax-open" data-url="{:url('Finance/tmorder_info')}"  data-ids="{'id':'<%=data[i]['id']%>'}">详细查看</a></lqf_link>
            <%}%>
        </td>
    </tr>
    <% } %>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        turnPage(1);//页面加载时初始化分页
    });
</script>