<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content table-responsive">
                    <div class="row">
                            <div class="col-sm-3">
                                <a href="?"  class="btn btn-info btn-default"><i class="fa fa-refresh"></i> 刷新</a>
                                <lqf_link><a class="btn btn-info ajax-open"  data-url="{:url('Arctype/add')}" data-title="栏目添加" ><i class="fa fa-plus"></i> 添加</a></lqf_link>
                            </div>
                    </div>
                </div>
                <div class="ibox-content treeClassBody">
                    {$listtree}
                </div>
            </div>
        </div>
    </div>
</div>