<div class="ibox-content">
    <form class="form-horizontal" method="post" action="{:url('TmGuideTravel/edit')}">
        <input type="hidden" name="id" value="{$info.id}">
        <input type="hidden" name="guide_id" value="{$info.guide_id}">
        <input type="hidden" name="guide_name" value="{$info.guide_name}">
        <div class="form-group">
            <label class="col-sm-2 control-label">交社选项</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input name="item_travel_id" class="form-control" type="hidden" value="{$info.item_travel_id}"/>
                    <input type="text" class="form-control ajax-search-select-item-travel"
                        data-url="{:url('ItemTravel/show_json')}" name="item_travel_name" placeholder="请输入关键字选择交社选项" value="{$info.item_travel_name}">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        </ul>
                    </div>
                </div>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">人头费</label>
            <div class="col-sm-8">
                <input name="price" class="form-control calculate" type="text" placeholder="请输入人头费" value="{$info.price}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">人数</label>
            <div class="col-sm-8">
                <input name="number" class="form-control calculate" type="text" placeholder="请输入人数" value="{$info.number}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">合计</label>
            <div class="col-sm-8">
                <input name="total_price" class="form-control" type="text" placeholder="请输入合计" value="{$info.total_price}"/>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">备注</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control" cols="80" placeholder="请输入备注">{$info.remark}</textarea>
                <span class="help-block m-b-none"></span></div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                {include file="admin@layout/save_btn"}
            </div>
        </div>
    </form>
</div>

<script>
    $("body").on("keyup", ".calculate", function() {
        var obj=$(this).parents("form");
        //自动计算总价格
        calc_guide_travel_money(obj);
    });
</script>