<script>
    //导游散客团记帐=》详细查看

    $(document).ready(function () {

        $("body").on("click", ".nav-tabs", function (){

            //加载订单
            $(".tab-content").find(".tab-pane.active table.ajax-list-guide").each(function(key,row){
                ajaxSkTeamGuideInfoData($(this));
            })
            
        });
        

        //加载订单=>导游
        $(".tab-content").find(".tab-pane table.ajax-list-guide").each(function(key,row){
            ajaxSkTeamGuideInfoData($(this));
        })
        
        //ajaxSkTeamInfoData($(".tab-pane.active").find("table"));
        
        
    })

    //订单详细 导游报账
    function  ajaxSkTeamGuideInfoData(object){
        target=object.attr("data-url");
        
        //log(target);
        $.get(target).success(function (jsonData) {

            html=ajaxSkTeamGuideInfoDataTpl(jsonData.data,jsonData.type);//导游报账模板

            object.find("tbody").html(html);

        },"json");
    }
    


    //订单详细数据加载=》导游报账模板
    function  ajaxSkTeamGuideInfoDataTpl(data,type){

        var html="";

        $.each(data,function(key,row){

            switch(type) {
                case 'fare':
                    html +='<tr>';
                    html +='<td>'+row.guide_name+'</td>';
                    html +='<td>'+row.driver_name+'</td>';
                    html +='<td>'+row.money+'</td>';
                    html +='<td>'+row.remark+'</td>';
                    html +='</tr>';
                    break;
                case 'food':
                    html +='<tr>';
                    html +='<td>'+row.guide_name+'</td>';
                    html +='<td>'+row.restaurant_name+'</td>';
                    html +='<td>'+row.adult_num+'</td>';
                    html +='<td>'+row.adult_price+'</td>';
                    html +='<td>'+row.child_num+'</td>';
                    html +='<td>'+row.child_price+'</td>';
                    html +='<td>'+row.total_price+'</td>';
                    html +='<td>'+row.remark+'</td>';
                    html +='</tr>';
                    break;
                case 'scenic':
                    html +='<tr>';
                    html +='<td>'+row.guide_name+'</td>';
                    html +='<td>'+row.scenic_name+'</td>';
                    html +='<td>'+row.aged_num+'</td>';
                    html +='<td>'+row.aged_price+'</td>';
                    html +='<td>'+row.adult_num+'</td>';
                    html +='<td>'+row.adult_price+'</td>';
                    html +='<td>'+row.child_num+'</td>';
                    html +='<td>'+row.child_price+'</td>';
                    html +='<td>'+row.total_price+'</td>';
                    html +='<td>'+row.remark+'</td>';
                    html +='</tr>';
                    break;
                case 'head':
                    html +='<tr>';
                    html +='<td>'+row.guide_name+'</td>';
                    html +='<td>'+row.store_name+'</td>';
                    html +='<td>'+row.price+'</td>';
                    html +='<td>'+row.into_num+'</td>';
                    html +='<td>'+row.fill_num+'</td>';
                    html +='<td>'+row.total_price+'</td>';
                    html +='<td>'+row.normal_money+'</td>';
                    html +='<td>'+row.normal_rebate+'</td>';
                    html +='<td>'+row.special_money+'</td>';
                    html +='<td>'+row.special_rebate+'</td>';
                    html +='<td>'+row.total_money+'</td>';
                    html +='<td>'+row.remark+'</td>';
                    html +='</tr>';
                    break;
                case 'travel':
                    html +='<tr>';
                    html +='<td>'+row.guide_name+'</td>';
                    html +='<td>'+row.item_travel_name+'</td>';
                    html +='<td>'+row.price+'</td>';
                    html +='<td>'+row.number+'</td>';
                    html +='<td>'+row.total_price+'</td>';
                    html +='<td>'+row.remark+'</td>';
                    html +='</tr>';
                    break;
                case 'receipt':
                    html +='<tr>';
                    html +='<td>'+row.guide_name+'</td>';
                    html +='<td>'+row.item_receipt_name+'</td>';
                    html +='<td>'+row.adult_num+'</td>';
                    html +='<td>'+row.adult_price+'</td>';
                    html +='<td>'+row.child_num+'</td>';
                    html +='<td>'+row.child_price+'</td>';
                    html +='<td>'+row.total_price+'</td>';
                    html +='<td>'+row.remark+'</td>';
                    html +='</tr>';
                    break;
                case 'paid':
                    html +='<tr>';
                    html +='<td>'+row.guide_name+'</td>';
                    html +='<td>'+row.item_name+'</td>';
                    html +='<td>'+row.money+'</td>';
                    html +='<td>'+row.remark+'</td>';
                    html +='</tr>';
                    break;
                case 'coll':
                    html +='<tr>';
                    html +='<td>'+row.guide_name+'</td>';
                    html +='<td>'+row.item_name+'</td>';
                    html +='<td>'+row.money+'</td>';
                    html +='<td>'+row.remark+'</td>';
                    html +='</tr>';
                    break;
                default:
                    html="";
            }

        });

        return html
    }


</script>